<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="card-wrapper">
	<template>
		<style>
			.card {
				margin: 5px;
				padding: 5px 15px;
				color: #757575;
				border-radius: 5px;
				background-color: #fff;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			}

			h1 {
				margin: 16px 0 5px 0;
				color: #212121;
				font-size: 22px;
				@apply --title-style
			}

			h4 {
				margin: 5px 0 16px 0;
				@apply --sub-title-style
			}

			.heading {
				display: inline-flex;
				width: 100%;
				justify-content: space-between;
				cursor: pointer;
			}

			.left {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
			}

			.right {
				display: flex;
				flex-direction: column;
			}
		</style>

		<div class="card">
			<div class="heading">
				<div class="left" on-click="_toggleCollapse">
					<h1>[[title]]</h1>
					<template is="dom-if" if="[[subTitle]]">
						<h4>[[subTitle]]</h4>
					</template>
				</div>
				<div class="right">
					<slot name="actionIcon"></slot>
				</div>
			</div>
			<iron-collapse id="collapse" opened="{{opened}}">
				<slot></slot>
			</iron-collapse>
		</div>
	</template>

	<script>
		Polymer.setPassiveTouchGestures(true);

		class CardWrapper extends Polymer.Element {
			static get is() { return 'card-wrapper'; }

			static get properties() {
				return {
					title: String,
					subTitle: String,
					opened: {
						type: Boolean,
						value: false,
						reflectToAttribute: true
					}
				};
			}

			_toggleCollapse() {
				this.$.collapse.toggle();
			}
		}

		window.customElements.define(CardWrapper.is, CardWrapper);
	</script>
</dom-module>