<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="main-stat">
    <template>
        <style>
            :host {
                display: flex;
                justify-content: center;
            }

            .circle {
                width: 50px;
                height: 50px;
                border: 20px solid var(--main-stat-colour, red);
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }

            .mainStat {
                width: 80%;
                text-align: center;
                margin-top: -30%;
                --paper-input-container-underline: {
                    display: none;
                }
                --paper-input-container-disabled: {
                    opacity: 1;
                }
            }
        </style>

        <div class="circle">
            <paper-input class="mainStat" disabled$="[[readonly]]" required value="{{_value}}">
                <template is="dom-if" if="[[bonus]]" restamp>
                    <div slot="suffix">+[[bonus]]</div>
                </template>
            </paper-input>
        </div>
    </template>

    <script>
        Polymer.setPassiveTouchGestures(true);

        class MainStat extends Polymer.Element {
            static get is() { return 'main-stat'; }

            static get properties() {
                return {
                    value: {
                        type: Number,
                        computed: '_getValue(_value, bonus)',
                        notify: true
                    },
                    modifier: {
                        type: Number,
                        computed: '_getModifier(_modifiers, value, bonus)',
                        notify: true
                    },
                    bonus: {
                        type: Number,
                        value: 0
                    },
                    readonly: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },
                    _value: {
                        type: Number,
                        value: 0
                    },
                    _modifiers: {
                        type: Array,
                        value: [
                            -5,
                            -4, -4,
                            -3, -3,
                            -2, -2,
                            -1, -1,
                            0, 0,
                            1, 1,
                            2, 2,
                            3, 3,
                            4, 4,
                            5, 5,
                            6, 6,
                            7, 7,
                            8, 8,
                            9, 9,
                            10
                        ]
                    }
                };
            }

            _getValue(value, bonus) {
                return Number(value) || 0 + bonus;
            }
            _getModifier(modifiers, value, bonus) {
                if (value <= 0 || value > 30) return 0;
                return modifiers[value + bonus - 1];
            }
        }

        window.customElements.define(MainStat.is, MainStat);
    </script>
</dom-module>