<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="proficiency-control">
	<template>
		<style>
			paper-listbox {
				--paper-item-min-height: 0px;
			}

			.flexInline {
				display: flex;
			}
		</style>

		<h4>[[type]]</h4>
		<p>[[_getCsv(_staticProficiencies)]]</p>
		<div class="flexInline">
			<template is="dom-if" if="[[_classChoose]]">
				<div>
					<label>Choose [[_classChoose]]:</label>
					<paper-listbox multi attr-for-selected="name" selected-items="{{_selectedClassProficiencies}}">
						<template is="dom-repeat" items="[[_classProficiencies]]">
							<paper-item disabled$="[[_enoughItemsSelected(_classChoose, _selectedClassProficiencies, item)]]" name="[[item]]">[[item]]</paper-item>
						</template>
					</paper-listbox>
				</div>
			</template>
			<template is="dom-if" if="[[_raceChoose]]">
				<div>
					<label>Choose [[_raceChoose]]:</label>
					<paper-listbox multi attr-for-selected="name" selected-items="{{_selectedRaceProficiencies}}">
						<template is="dom-repeat" items="[[_raceProficiencies]]">
							<paper-item disabled$="[[_enoughItemsSelected(_raceChoose, _selectedRaceProficiencies, item)]]" name="[[item]]">[[item]]</paper-item>
						</template>
					</paper-listbox>
				</div>
			</template>
			<template is="dom-if" if="[[_subraceChoose]]">
				<div>
					<label>Choose [[_subraceChoose]]:</label>
					<paper-listbox multi attr-for-selected="name" selected-items="{{_selectedSubraceProficiencies}}">
						<template is="dom-repeat" items="[[_subraceProficiencies]]">
							<paper-item disabled$="[[_enoughItemsSelected(_subraceChoose, _selectedSubraceProficiencies, item)]]" name="[[item]]">[[item]]</paper-item>
						</template>
					</paper-listbox>
				</div>
			</template>
		</div>

	</template>

	<script>
		Polymer.setPassiveTouchGestures(true);

		class ProficiencyControl extends Polymer.Element {
			static get is() { return 'proficiency-control'; }

			static get properties() {
				return {
					race: {
						type: Object,
						value: null
					},
					subrace: {
						type: Object,
						value: null
					},
					selectedClass: {
						type: Object,
						value: null
					},
					type: String,
					_classChoose: {
						type: Number,
						computed: '_getRequiresChoose(selectedClass)'
					},
					_classProficiencies: {
						type: Array,
						computed: '_getProficiencies(selectedClass, _classChoose)'
					},
					_selectedClassProficiencies: {
						type: Array,
						value: []
					},
					_raceChoose: {
						type: Number,
						computed: '_getRequiresChoose(race)'
					},
					_raceProficiencies: {
						type: Array,
						computed: '_getProficiencies(race, _raceChoose)'
					},
					_selectedRaceProficiencies: {
						type: Array,
						value: []
					},
					_subraceChoose: {
						type: Number,
						computed: '_getRequiresChoose(subrace)'
					},
					_subraceProficiencies: {
						type: Array,
						computed: '_getProficiencies(subrace, _subraceChoose)'
					},
					_selectedSubraceProficiencies: {
						type: Array,
						value: []
					},
					_staticProficiencies: {
						type: Array,
						computed: '_getStaticProficiencies(_raceChoose, _subraceChoose, _classChoose, _raceProficiencies, _subraceProficiencies, _classProficiencies, _selectedRaceProficiencies, _selectedSubraceProficiencies, _selectedClassProficiencies)'
					}
				};
			}

			_getProficiencies(obj, choose) {
				return (choose && obj.Options) || obj || [];
			}
			_getRequiresChoose(obj) {
				if (!obj) return 0;
				return (obj && !Array.isArray(obj) && obj.Choose) || 0;
			}
			_getStaticProficiencies(raceChoose, subraceChoose, classChoose, raceProficiencies, subraceProficiencies, classProficiencies, selectedRaceProficiencies, selectedSubraceProficiencies, selectedClassProficiencies) {
				var profs = [];
				profs = profs.concat((classChoose && selectedClassProficiencies.map((a) => a.name)) || classProficiencies);
				profs = profs.concat((raceChoose && selectedRaceProficiencies.map((a) => a.name)) || raceProficiencies);
				profs = profs.concat((subraceChoose && selectedSubraceProficiencies.map((a) => a.name)) || subraceProficiencies);
				return [...new Set(profs)];
			}

			_enoughItemsSelected(maxItems, selectedItems, item) {
				return selectedItems.length >= maxItems && !selectedItems.filter((i) => i.name === item).length;
			}
			_getCsv(values) {
				return values.join(', ');
			}
		}

		window.customElements.define(ProficiencyControl.is, ProficiencyControl);
	</script>
</dom-module>