<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="select-multi">
	<template>
		<style>
			paper-dropdown {
				margin-left: 10px;
			}

			.flexInline {
				display: flex;
				align-items: center;
			}
		</style>

		<div class="flexInline">
			<label>Choose [[choose]]:</label>
			<paper-dropdown value="{{selectedValues}}" multi$="[[_isGreater(choose, 1)]]" searchable$="[[_isGreater(selectedValues.length, 10)]]">
				<template is="dom-repeat" items="[[options]]">
					<paper-item value$="[[item]]" disabled$="[[_enoughItemsSelected(choose, selectedValues, item)]]">[[item]]</paper-item>
				</template>
			</paper-dropdown>
		</div>

	</template>

	<script>
		Polymer.setPassiveTouchGestures(true);

		class SelectMulti extends Polymer.Element {
			static get is() { return 'select-multi'; }

			static get properties() {
				return {
					choose: Number,
					options: Array,
					selectedValues: {
						type: Array,
						value: [],
						notify: true
					},
					_selectedItems: Array
				};
			}

			_isGreater(left, right) {
				return left > right;
			}
			_enoughItemsSelected(maxItems, selectedValues, item) {
				return selectedValues.length >= maxItems && !selectedValues.includes(item);
			}
		}

		window.customElements.define(SelectMulti.is, SelectMulti);
	</script>
</dom-module>