<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/spell-card-control.html">

<dom-module id="spells-control">
    <template>
        <style>
            .flexColumn {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 8px;
                --paper-font-caption: {
                    line-height: 0;
                }
            }
        </style>
        <template is="dom-if" if="[[spellSaveDifficultyClass]]">
            <div>
                <label>Spell Save DC:</label>
                <span>[[spellSaveDifficultyClass]]</span>
            </div>
        </template>
        <template is="dom-if" if="[[spellAttackModifier]]">
            <div>
                <label>Spell Attack Modifier:</label>
                <span>[[spellAttackModifier]]</span>
            </div>
        </template>
        <div>
            <paper-dropdown label="Spell" value="{{_selectedSpellValue}}" searchable="true">
                <template is="dom-repeat" items="[[_getAvailableSpells(spells, _selectedSpells, _filterByClass, className)]]">
                    <paper-item value$="[[item]]">[[item.displayName]]</paper-item>
                </template>
            </paper-dropdown>
            <paper-icon-button icon="add" title="Add Spell to Character" on-tap="_addSpell"></paper-icon-button>
            <paper-checkbox checked="{{_filterByClass}}"></paper-checkbox>
        </div>
        <div>
            <template is="dom-repeat" items="[[_selectedSpells]]">
                <spell-card-control spell="[[item]]" on-remove-spell-card="_removeSpellCard"></spell-card-control>
            </template>
        </div>
    </template>

    <script>
        Polymer.setPassiveTouchGestures(true);

        class SpellsControl extends Polymer.Element {
            static get is() { return 'spells-control'; }

            static get properties() {
                return {
                    spells: Object,
                    className: String,
                    spellSaveDifficultyClass: String,
                    spellAttackModifier: String,
                    _selectedSpellValue: Object,
                    _selectedSpells: {
                        type: Array,
                        value: []
                    }
                };
            }

            _addSpell() {
                if (!this._selectedSpellValue) return;

                this._selectedSpells = this._selectedSpells
                    .concat(JSON.parse(this._selectedSpellValue))
                    .sort((a, b) => (a.restrictions.level || '0') > (b.restrictions.level || '0'));
                this._selectedSpellValue = null;
            }

            _getAvailableSpells(spells, selectedSpells, filterByClass, className) {
                let spellsToReview = Object.keys(spells || {}).map((spell) => spells[spell]);
                let spellsSelected = (selectedSpells || []).map(spell => spell.name);
                let spellsToShow = spellsToReview
                    .filter(spell => !spellsSelected.includes(spell.name) && (!filterByClass || (spell.restrictions.classes || []).includes(className)));
                return spellsToShow;
            };

            _removeSpellCard(event) {
                var index = this._selectedSpells.indexOf(event.detail.spell);
                this.splice('_selectedSpells', index, 1);
            }
        }

        window.customElements.define(SpellsControl.is, SpellsControl);
    </script>
</dom-module>