<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="./main-stat.html">
<link rel="import" href="./skill-control.html">

<dom-module id="stat-control">
	<template>
		<style>
			:host {
				display: flex;
				flex: 1 0 25%;
				margin: 5px;
				justify-content: center;
			}

			h2 {
				margin: 0;
			}

			label {
				font-size: 12px;
			}

			.flexColumn {
				display: flex;
				flex-direction: column;
			}

			.flex {
				display: flex;
			}
		</style>

		<main-stat bonus="[[bonus]]" modifier="{{modifier}}" value="{{value}}"></main-stat>
		<div class="flexColumn">
			<h2>[[stat]]</h2>
			<template is="dom-if" if="[[savingThrow]]" restamp>
				<skill-control name="Saving Throw" proficiency-bonus="[[proficiencyBonus]]" modifier="[[modifier]]" required></skill-control>
			</template>
			<template is="dom-repeat" items="[[skills]]">
				<skill-control name="[[item]]" checked$="[[_isChecked(staticSkills, item)]]" proficiency-bonus="[[proficiencyBonus]]" modifier="[[modifier]]"
				 disabled$="[[!_isSelectable(selectedSkills, selectableSkills, staticSkills, item)]]" on-checked-changed="_skillSelectedChanged"></skill-control>
			</template>
		</div>
	</template>

	<script>
		Polymer.setPassiveTouchGestures(true);

		class StatControl extends Polymer.Element {
			static get is() { return 'stat-control'; }

			static get properties() {
				return {
					stat: String,
					value: {
						type: Number,
						value: 0
					},
					bonus: Number,
					modifier: {
						type: Number,
						notify: true
					},
					proficiencyBonus: Number,
					savingThrow: {
						type: Boolean,
						value: false,
						reflectToAttribute: true
					},
					skills: Array,
					selectedSkills: {
						type: Array,
						notify: true
					},
					selectableSkills: Object,
					staticSkills: Array,
					readonly: {
						type: Boolean,
						value: false,
						reflectToAttribute: true
					}
				};
			}

			_skillSelectedChanged(e) {
				var checked = e.detail.value;
				var value = e.target.name;

				if(this.staticSkills.includes(value)) return;
				if (checked) this.selectedSkills = this.selectedSkills.concat(value);
				else this.selectedSkills = this.selectedSkills.filter((skill) => skill !== value);
			}

			_isSelectable(selectedSkills, selectableSkills, staticSkills, skill) {
				var numSelected = (selectedSkills || []).length;
				var maxSelectable = selectableSkills && selectableSkills.Choose || 0;

				var alreadySelected = (selectedSkills || []).includes(skill);
				var isSelectable = (selectableSkills && selectableSkills.Options || []).includes(skill)
				var isStatic = staticSkills.includes(skill);
				return !isStatic && numSelected < maxSelectable && isSelectable || alreadySelected;
			}
			_isChecked(staticSkills, skill) {
				return staticSkills.includes(skill);
			}
		}

		window.customElements.define(StatControl.is, StatControl);
	</script>
</dom-module>