<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="./main-stat.html">

<dom-module id="stat-control">
	<template>
		<style>
			:host {
				display: flex;
				flex: 1 0 25%;
				margin: 5px;
				justify-content: center;
			}

			.secondaryStat {
				width: 10%;
				margin-top: -12px;
				margin-left: 5px;
				text-align: center;
				--paper-input-container-disabled: {
					opacity: 1;
				}
				--paper-font-caption: {
					line-height: 0;
				}
				--paper-input-container-shared-input-style: {
					width: 100%;
					font-size: 12px;
				}
				--paper-input-container-input: {
					margin-bottom: -5px;
				}
				--paper-input-container-underline-disabled: {
					border-bottom-style: solid;
				}
			}

			h2 {
				margin: 0;
			}

			label {
				font-size: 12px;
			}

			.flexColumn {
				display: flex;
				flex-direction: column;
			}

			.flex {
				display: flex;
			}
		</style>

		<main-stat bonus="[[bonus]]" value="{{value}}"></main-stat>
		<div class="flexColumn">
			<h2>[[stat]]</h2>
			<template is="dom-if" if="[[savingThrow]]" restamp>
				<div class="flex">
					<label>Saving Throw</label>
					<paper-input class="secondaryStat" disabled value="[[bonus]]"></paper-input>
				</div>
			</template>
			<iron-selector attr-for-selected="name" selected-attribute="checked" multi selected-values="{{selectedSkills}}">
				<template is="dom-repeat" items="[[skills]]">
					<paper-checkbox name="[[item]]">
						<div class="flex">
							<label>[[item]]</label>
							<paper-input class="secondaryStat" disabled value="[[_isSelected(item, selectedSkills, bonus)]]"></paper-input>
						</div>
					</paper-checkbox>
				</template>
			</iron-selector>
		</div>
	</template>

	<script>
		Polymer.setPassiveTouchGestures(true);

		class StatControl extends Polymer.Element {
			static get is() { return 'stat-control'; }

			static get properties() {
				return {
					stat: String,
					value: {
						type: Number,
						value: 0
					},
					bonus: Number,
					savingThrow: {
						type: Boolean,
						value: false,
						reflectToAttribute: true
					},
					skills: Array,
					selectedSkills: Array,
					readonly: {
						type: Boolean,
						value: false,
						reflectToAttribute: true
					}
				};
			}

			_isSelected(skill, selectedSkills, bonus) {
				return selectedSkills.includes(skill) && bonus || null;
			}
		}

		window.customElements.define(StatControl.is, StatControl);
	</script>
</dom-module>